<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot web project - authors</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author: ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.firstName}">Jack</td>
        <td th:text="${author.lastName}">Sparrow</td>
    </tr>
</table>
</body>
</html>